html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/Persona5MenuFontPrototype-Rg.woff2') format('woff2'),
      url('./assets/Persona5MenuFontPrototype-Rg.woff') format('woff'),
      url('./assets/Persona5MenuFontPrototype-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  height: 100vh;
  width: 100vw;
}
img { 
  width: 100%;
}
h1 {
  font-family: 'MyFont';
  color: black;
  font-size: 40px;
  margin: 0;
  padding-top: 10px;
  margin-left: 8px;
}
h2 {
  padding: 0;
  margin: 0;
}
h4 {
  color: red;
}

.homeBackground {
  background-image: url('assets/heroImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
}


/* Nav Bar and Header styling */
header {
  background-color: rgba(186,0,1,255);
  height: 10vh;

}

.loginButtonContainer{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}



header button {
  margin-right: 4px;
  border: 4px solid white;
  background-color: black;
  color: white;
  width: 100px;
  height: 60%;
  transition: all 0.4s linear;
}
header button:hover {
  color: black;
  border: 4px solid black;
  background-color: white;
}

nav {
  height: 100%;
  display : flex;
  justify-content: space-between;
}

/* Styling for Login Page */
.bodyFrontContainer {
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm, .textContainerIntro{
  width: calc(max(40% , 450px));
  height: 80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px black solid;
  background-color: rgba(218, 223, 225, 0.6 )
}
.loginForm > * {
  width: 80%;
  text-align: center;
}
.loginForm label {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: bold;
}

.loginForm button {
  margin-top: 40px;
  width: 60%;
  height: 45px;
  background-color: black;
  color: white;
  font-size: 20;
  font-weight: bold;
  border: 2px solid white;
  transition: all linear 0.4s;
}

.loginForm button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.textContainerIntro h2 {
  line-height: 40px;
  width: 80%;
  text-align: center;
}
.textContainerIntro span {
  font-weight: bold;
  color: rgba(186,0,1,255);
}
/* styling for whole body */
.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 90vh;
}
/* Styling for sideBar */
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.sideBarText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  
}
.sideBarText > ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sideBarText > i {
  font-size: 45px;
  margin : 10px auto;
}
.sideBarText form {
  width: 100%;
}
.sideBarText form button {
  border: 2px white solid;
}
.sideBarText input {
  display: block;
  margin: 0 auto;
}

.sideBarText button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px black solid;
  text-align: left;
}

.sideBarText button:hover {
  background-color: white;
  color: black;
  border: 1px white solid;
}

.addingChatRooms {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.addingChatRooms > * {
  margin: 0;

}
.addingChatRooms i {
  padding-top: 7px;
  padding-right: 5px;
  font-size: 18px;
}

/* Test styling for message box */


body {
  background-color: rgba(186,0,1,255);

}

img {
  width: 100%;
}


.startImageContainer{
  width: 60%;
  margin: 0 auto;
}
.messageContainerFull > h2 {
  width: 100%;
  text-align: center;
}

/* first side */
.messageContainer, .messageContainer2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}

.frontPart {
  
  background-color: white;
  

  clip-path: polygon(11% 6%, 100% 0%, 89% 99%, 0 85%);
  position: relative;
  width:100%;

}

.messageContainer::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color:black ;
  position: absolute;
  left: 0%;
  top: 17px;
  z-index: 50;
  clip-path: polygon(74% 25%, 100% 17%, 99% 52%, 46% 59%, 39% 30%, 0 42%, 57% 0);
}

.messageContainer::before {
  content: '';
  width: 70px;
  height: 70px;
  background-color: white;
  position: absolute;
  left: -3%;
  top: 7px;
  z-index: -1;
  clip-path: polygon(74% 25%, 100% 17%, 100% 74%, 43% 77%, 37% 51%, 0 52%, 68% 0);
  
}

.insideFrontPart {
  background-color: black;
  height: 80%;
  width: 90%;
  clip-path: polygon(12% 10%, 97% 4%, 86% 92%, 2% 80%);
  
  position: relative;
  width:100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
p {
  
  padding: 6% 14% 8% 14%;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}


.messageBody {
  padding-top: 40px;
  max-width:471px;
  width:50%;
  margin-left: 130px;
  
  position: relative;
}

.messageBody::before{
  content: '';
  height: 100px;
  width: 150px;
  background-color: white;
  clip-path: polygon(0 0, 89% 12%, 98% 83%, 27% 100%);

  position: absolute;
  left: -28%;
  top:11px;
}

.messageBody::after {
  content: '';
  height: 100px;
  width: 150px;
  
  clip-path: polygon(10% 16%, 86% 16%, 93% 79%, 28% 96%);


  position: absolute;
  left: -28%;
  top:13px;
  background-color: teal;
}

.profileImageContainer {
  width: 85px;
  position: absolute;
  left: -18%;
  top:33px;
  height: 130px;
  z-index: 50;
  transform: skewY(-10deg);
  /* position: relative; */
}
.profileImageContainer .nameCard {
  background-color: white;
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 27%;
  left:9px;
  color:black;
  text-align: center;
  padding: 0;
}

.profileImageContainer > img {
  margin-top : -18px;
}

.exclamationImg {
  position: absolute;
  width: 50px;
  top: -20px;
  right: 7%;
  z-index: 999
}

.dateAndTime {
  position: absolute;
  text-align: center;
  top: -21px;
  left:55px;
  height: 25px;
  width: 55%;
  color:black;
  background-color: white;
  z-index: 100;
  transform: skewY(-1deg);
  clip-path: polygon(0 100%, 14% 0, 100% 0, 86% 100% );
}



/* other side */

.messageBody2 {
  padding-top: 40px;
  max-width:471px;
  width:50%;
  
  
  position: relative;
}
.dateAndTime2 {
  position: absolute;
  text-align: center;
  top: -18px;
  right:55px;
  height: 25px;
  width: 55%;
  color:white;
  background-color: black;
  z-index: 100;
  transform: skewY(+1deg);
  clip-path: polygon(100% 100%, 86% 0, 0 0, 14% 100% );
}



.messageContainer2::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color:white ;
  position: absolute;
  right: 0%;
  top: 17px;
  z-index: 50;
  
  clip-path: polygon(26% 25%, 0% 17%, 1% 52%, 54% 59%, 61% 30%, 100% 42%, 43% 0);
}

.messageContainer2::before {
  content: '';
  width: 70px;
  height: 70px;
  background-color: black;
  position: absolute;
  right: -3%;
  top: 7px;
  z-index: -1;
  clip-path: polygon(26% 25%, 0 17%, 0 74%, 57% 77%, 63% 51%, 100% 52%, 32% 0);
}


.frontPart2 {
  
  background-color: black;
 
  clip-path: polygon(89% 6%, 0 0, 11% 99%, 100% 85%);
  position: relative;
  width:100%;

}

.insideFrontPart2 {
  background-color: white;
  height: 90%;
  width: 90%;

  
  clip-path: polygon(88% 10%, 3% 4%, 14% 92%, 98% 80%);
  position: relative;
  width:100%;

  display: flex;
  justify-content: center;
  align-items: center;

  
}

.insideFrontPart2 p {
  margin: 0 auto;
  color: black;
  font-size: 20px;
}


/* new stuff not working rn */
.messageBody2 {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 20px
}

.messageBody {
  margin-right: auto;
  margin-top: 20px;
}

.messageContainerFull {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 90%;
  
}

.extraWrapper {
  height: 85vh;
  
}
/* send message box */
.sendMessage {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  
}
.sendMessage > input {
  width: 80%;
  height: 80% !important;
  border: 2px black solid;
  border-radius: 10%;
  white-space: initial;
}

.messageButton {
  background-color: black;
  color: white;
  border: 2px black solid;
}

.messageButton:hover {
  background-color: white;
  border: 2px white solid;
  color: black;
}

/*  */
.chatRoomName {
  margin: 0;

  
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chatRoomName h2 {
  margin-left: 10px;
  
}
/* Profile Page */

.currentAvatarContainer {
  border: 4px solid black;
  width: 150px;
  margin: 0 auto;
}
.currentAvatarContainer img {
  display: block;
}

.avatarList {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 15px;
  
  box-sizing: border-box;
  
 
}
.avatarList > * {
  aspect-ratio: 1;
 
  width: 100%;
  /* border: 2px solid black; */
}

.avatarList > *:hover {
  border: 2px solid white;
}

.profilePage {
  height: 90vh;
  overflow-y: scroll;
}

.profilePage button {
  display:block;
  text-align: center;
  margin: 15px auto;
}

/* footer */
footer {
  background-color: black;
}
footer > p {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}



/* media queries */

@media (max-width: 740px) {
  
  .bodyContainer{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .messageBody, .messageBody2 {
    width: 100%;
  }
  .sideBar {
    position: fixed;
    left: -205px;
    transition: 0.3s;
    z-index: 999999999999;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    height: 90vh;
    opacity: .95;

  }

  .sideBar::after {
    content: ''; position: absolute;
    width: 0; height: 0; right: -60px; top: 15px;
    border-top: 30px solid transparent;
    border-left: 60px solid black;
    border-bottom: 30px solid transparent;
    opacity: 1;
  }

  .sideBar:hover {
    left: 0;
}
}

@media (max-width: 628px) {
  .messageBody, .messageBody2{
    /* max-width: calc(max(calc(100%-130px) , 400px)); */
    max-width: 400px;
  }

  h1 {
    font-size: 30px;
  }
}


@media (max-width: 550px) {
  .messageBody{
    max-width: 300px;
    margin-left: 180px;
  }

  .messageBody::after, .messageBody::before {
    left : -47%;
  }

  .profileImageContainer {
    left: -32%;
  }

  h1 {
    font-size: 25px;
  }

  .messageContainer::after{
    width: 40px;
    height: 40px;
    left: -3%;
    top: 12px;
  }
  .messageContainer::before {
    width: 50px;
    height: 50px;
    left: -4%;
    top: 3px;
  }
}

@media (max-width: 480px) {
   .messageBody2 {
     max-width: 90%;
     width: 90%;

   }
   .messageBody {
     margin-left: 130px;
   }
}